@import "/src/styles/variables.css";
.nav-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background: #111b;
  width: 100vw;
}
.nav-profile-container{
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-profile-container img{
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.nav-profile-data-container{
  min-width: 112px;
}
.nav-item{
  list-style: none;
  display: inline-block;
  margin: 0rem 0.5rem;
  padding: 0.2rem 0.6rem;
  border-radius: 5px 5px;
  border-bottom: 1.5px solid transparent; 
  transition: background-color 0.5s ease, border-bottom-color 0.5s ease;
}
.nav-item:hover{
  border-bottom-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-item a{
  text-decoration: none;
  color: var(--primary-text-color);

}
.nav-item a:visited{
  color: var(--primary-text-color);
}


/* Iniciando Media query, para pantallas menores a 600px */
@media (max-width: 600px) {

  .nav-profile-data-container{
    display: none;
  }
  .nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nav-list{
    display: none;
  }
  .nav-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-profile-img-container{
    margin-left: 0px;
  }

  .nav-profile-container img {
    margin-top: 5px;
    width: 60px;
    height: 60px;
  }
  
}
@media (max-width: 415px) {
  .nav-container{
    justify-content: center;

  }
  .nav-profile-img-container{

  }

}


