/* <-- Estilando la seccion de proyectos --> */
.proyects-section-container-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}
#inicio{
    width: 100vw;
}

.proyects-section-container {
    width: 80%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}

.proyect-section-tittle {
    color: var(--sections-tittle-color);
}

.proyects-container {

    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    container-name: proyects-container;
    container-type: inline-size;
    animation: aparecer 2.4s -.6s both;
    width: 100%;
    align-items: center;
}

.proyect {
    display: grid;
    grid-template-areas:
    "proyects-section-proyect-name proyect-section-proyect-img"
    "proyects-section-proyect-info proyect-section-proyect-img";
    grid-template-columns: minmax(120px, 350px) minmax(120px, 350px);
    gap: 0px 30px;
    grid-template-rows: 40px auto;
    background-color: #3336; /* Color de fondo para resaltar el proyecto */
    border-radius: 15px;
    padding: 10px 20px;
    transition: box-shadow 0.8s;
    width: fit-content;
}

.proyect:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.proyects-section-proyect-name {
    grid-area: proyects-section-proyect-name;
    transition: boxs box-shadow .2s ease-in;
}

.proyects-section-proyect-name:hover {
    box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.6);
    border: none;
}

.proyect-section-proyect-img {
    display: flex;
    grid-area: proyect-section-proyect-img;
    align-items: center;
}

.proyects-section-proyect-info {
    grid-area: proyects-section-proyect-info;
    letter-spacing: 1px;
    text-wrap-mode: pretty;
}

.proyect-section-proyect-img img {
    max-width: 100%;
    border-radius: 5px;
}

.proyect-section-proyect-img img:hover {
    box-shadow: 0px 0px 10px #fff;
}

  /* <-- MediaQuerys de la seccion proyects --> */
@media(width <800px) {
    .proyects-section-container-wrapper{
        width: 100vw;
    }
    .proyects-section-container{
        width: 80%;
    }
}

@media (width < 600px) {

.proyect {
    display: block;
}

    .proyect-section-tittle {
    text-align: left;
    }
}

@media (width < 400px){
    .proyects-container{
        margin: 0;
    }
}

@media (width < 415px) {


    .proyects-section-container {
    display: block;
    flex-wrap: wrap;
    justify-content: flex-start;
}


}