@import "/src/styles/variables.css";
body{
  font-family: var(--primary-font);
  background: var(--primary-background-color);
  margin: 0;
  color: var(--primary-text-color);
  padding: 0;
  max-height: 1400px;
}
/*<--estilando la seccion del data container-->*/
.main-personal-data-container{
  background: var(--secondary-background-color);
  text-align: center;
  min-width: 900px;
  padding-top: 1px;

}
.main-personal-data-container h1{
  color: #FFFF83;
}
.main-redirect-buttons{

  margin: 16px 4px;
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: var(--border-radius);
  background: var(--button-background-color);
  color: var(--primary-text-color);
  font-size: 0.9em;
  transition: background-color var(--transition-duration) var(--transition-easing);
}
.main-redirect-buttons a{
  text-decoration: none;
  color: var(--primary-text-color);
  
}

.main-redirect-buttons a:visited, .download-button a:visited{
  color: var(--primary-text-color);
}
.main-redirect-buttons a:hover{
  color: var(--active-link-color);
}
.main-redirect-buttons:hover{
  background-color: rgba(255, 255, 255, 0.9);
  color: #48e;
}
.main-img-skills{
  max-width: 24px;
}

/*Estilando modal*/
#proyectModal{
  display: none;
  position: fixed; /* Queda fijo en la pantalla */
  z-index: 1; /* Se superpone al contenido */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: auto; /* Habilitar scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.9); /* Color de fondo negro con opacidad */
   /* Oculto por defecto */
}
.modal-content{
  margin: auto;
  display: block;
  width: 80%; /* Ancho del contenido */
  max-width: 1920px; /* Ancho máximo */
  margin-top: 5em;
  border-radius: 12px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.2);
  transition: box-shadow 1s;
}



.modal-content:hover{
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/*---Animaciones*/
@keyframes aparecer {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
  
}
@media(width < 600px)
{
  .main-personal-data-container{
    min-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
  }
  body{
    overflow-x: hidden;
  }
}
@media(width < 415px)
{
  .main-personal-data-container{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
  }
}

/* --MediaQuerys--*/
