body{
  font-family: sans-serif;
  background: #282828;
  margin: 0;
  color: #ededed;
  padding: 0;
}
/*<--estilando la seccion del data container-->*/
.main-personal-data-container{
  background: #111b;
  text-align: center;
  min-width: 300px;
  padding-top: 1px;

}
.main-personal-data-container h1{
  color: #FFFF83;
}
.main-redirect-buttons{

  margin: 16px 4px;
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 12px;
  background: rgb(57, 57, 185);
  color: #ededed;
  font-size: 0.9em;
  transition: background-color 0.5s
}
.main-redirect-buttons a{
  text-decoration: none;
}
.main-redirect-buttons a:visited {
  color: #ededed;
}
.main-redirect-buttons a:visited:hover{
  color: #48e;
}
.main-redirect-buttons:hover{
  background-color: rgba(255, 255, 255, 0.9);
  color: #48e;
}
.main-img-skills{
  max-width: 24px;
}

/*Estilando modal*/
.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Queda fijo en la pantalla */
  z-index: 1; /* Se superpone al contenido */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: auto; /* Habilitar scroll si es necesario */
  background-color: rgb(0, 0, 0); /* Color de fondo negro */
  background-color: rgba(0, 0, 0, 0.9); /* Color de fondo negro con opacidad */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%; /* Ancho del contenido */
  max-width: 1920px; /* Ancho máximo */
  margin-top: 5em;
  border-radius: 12px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.2);
  transition: box-shadow 1s;
}
.modal-content:hover{
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}


/*---Animaciones*/
@keyframes aparecer {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
  
}