:root {
  --primary-background-color: #282828;
  --secondary-background-color: #111b;
  --primary-text-color: #ededed;
  --highlight-text-color: #FFFF83;
  --button-background-color: rgb(57, 57, 185);
  --active-link-color: #48e;
  --primary-font: "Montserrat";
  --border-radius: 12px;
  --box-shadow-initial: 0px 0px 0px rgba(255, 255, 255, 0.2);
  --box-shadow-hover: 10px 10px 10px rgba(255, 255, 255, 0.2);
  --transition-duration: 0.5s;
  --transition-easing: ease;
  --sections-width: 50em;
  --sections-tittle-color: #FFFF83;

}