<section>
<div class="sobre-mi-section-wrapper">
  <div class="sobre-mi-section-container">
    <div class="sobre-mi-section-username sobre-mi-personal-data">
      <span class="about-me-tittle">Sobre Mi</span>
      <h4>Brayan Vilches</h4>
    </div>
    <div class="sobre-mi-section-description sobre-mi-personal-data">
      <p>Como ingeniero en sistemas, me especializo en ofrecer soluciones 
        a problemas y necesidades, aplicando las mejores prácticas y 
        metodologías.</p>
        <p>Mi objetivo es garantizar resultados eficientes, 
          escalables y sostenibles en el tiempo. Tengo experiencia en 
          desarrollo front-end y conocimientos de nivel básico a intermedio 
          en back-end</p>
    </div>
    <div class="sobre-mi-section-education">
      <h4>Ingeniero En sistemas computacionales</h3>
      <p class="sobre-mi-education-data">Titulado en Ingenieria en sistemas computacionales en TECNM</p>
      <P class="sobre-mi-education-data-time">Graduado en Diciembre del 2019</P>
    </div>
  </div>
</div>
</section>