<div class="footer-container">
  <div>
    <p>@2024 BrayanV.</p>
  </div>
  <div class="social-icons">
    <div class="footer-icons"><a href="https://github.com/Vilchesing" rel="noopener noreferrer" target="_blank"><img src="src/assets/images/gits.png" alt="imagen icono de Ginthub"></a></div>
    <div class="footer-icons"><a href="https://www.linkedin.com/in/brayan-v-9938152b4/" rel="noopener noreferrer" target="_blank"><img src="src/assets/images/linkedin.png" alt="Imagen icono de Linkedin"></a></div>
    <div class="footer-icons"><a href="https://www.instagram.com/brayan.vilchesk/profilecard/?igsh=bmhrZmxuOWZrNGNo" rel="noopener noreferrer" target="_blank"><img src="src/assets/images/instagram.png" alt="Imagen icono de instagram"></a></div>
  </div>
</div>