<!-- navbar.html -->
<nav id="inicio">
  <div class="nav-container">
    <div class="nav-profile-container">
      <div class="nav-profile-img-container">
        <img src="src/assets/images/profile.png" alt="Imagen de perfil de Brayan Vilches">
      </div>
      <div class="nav-profile-data-container">
        <p>Brayan Vilches</p>
        <p>Web Developer</p>
      </div>
    </div>
    <ul class="nav-list">
      <li class="nav-item"><a href="#inicio" rel="noopener noreferrer" target="_self">Inicio</a></li>
      <li class="nav-item"><a href="#proyectos" rel="noopener noreferrer" target="_self">Proyectos</a></li>
      <li class="nav-item"><a href="#sobre-mi">Sobre Mi</a></li>
      <li class="nav-item"><a href="#habilidades">Skills</a></li>
    </ul>
  </div>
</nav>