<section id="proyectos">
  <div class="proyects-section-container-wrapper">
    <div class="proyects-section-container">
      <h4 class="proyect-section-tittle">Mis proyectos destacados</h4>
      <div class="proyects-container">
        <div class="proyect">
          <div class="proyects-section-proyect-name">
            <span>MercadoLibre Clone</span>
          </div>
          <div class="proyects-section-proyect-info">
            <p>Proyecto personal para consolidar conocimientos en desarrollo web frontend. A través de la construcción de un clon de MercadoLibre, se busca profundizar en tecnologías como HTML y CSS</p>
          </div>
          <div class="proyect-section-proyect-img">
            <script src="src/scripts/modal.js"></script>
            <img src="src/assets/images/MercadoClone.png" alt="Imagen de referencia de la web clon de MercadoLibre" class="proyect-ml-clone proyect-img"">
          </div>
        </div>
        <!--Cada proyecto tiene su acomodo en el grid-->
        <div class="proyect">
          <div class="proyects-section-proyect-name">
            <span>Whatsapp</span>
          </div>
          <div class="proyects-section-proyect-info">
            <p>Implementé una aplicación web de mensajería en tiempo real utilizando Service Workers. Esta tecnología me permitió almacenar mensajes localmente y sincronizarlos cuando el dispositivo se vuelve a conectar, brindando una experiencia de usuario similar a una aplicación nativa. Además, exploré características como notificaciones push y actualizaciones en segundo plano para enriquecer aún más la experiencia del usuario</p>
          </div>
          <div class="proyect-section-proyect-img">
            <img src="src/assets/images/whats.png" alt="Imagen de referencia de la web clon de MercadoLibre" class="proyect-ws proyect-img"">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>